# Functions


You already used and learned about a few (built-in) functions:
-  `print()`
- `input()`
- `range()`
- `type()`
- `list(), str(), int(), float(), bool()`
- ...

Today we will learn:
* **What** is a function?
* **Why** are functions useful?
* **How** can we write our own functions?

## What is a function?

It depends on the defintion:

**Computer science**: A function is a callable unit with a block of organized, reusable code that is used to perform a single, related action. 

**Mathematics**: A function is a unique map (determine by a relation) assigning each values of an input set (domain) to those of an output set (range).

<img src="./images/function_abstract.png"  width="200" height="200"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Function_machine2.svg"
     width="200" height="200"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

## Why are functions useful?

**Functions provide better modularity for your application and a high degree of code reusing.**

<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Function_machine2.svg"
     width="200" height="200"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Function_machine2.svg"
     width="200" height="200"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Function_machine2.svg"
     width="200" height="200"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

- Modularity (compartmentalization of functional units, modular testing, access control)
- Reusability (reuse blocks of code in different places, chaining/pipelining)
- Readability (more overview of what your code does)
- Black boxing (separation in input, output, and functionality without further details required)
- Flexibility (variable inputs or outputs, association to data types, abstract implementations, coupling control)

## How can we write our own functions?

    # How to declare a function
    def my_function_name(input_argument_1,...,input_argument_m):

        statement_1
        ...
        statement_n
        
        (return return_value)
        
    # How to call a function
    my_function_name(input_value_1,...,input_value_m)
    # How to call a function with a return value
    assigned_variable = my_function_name(input_value_1,...,input_value_m)

        

- A function is defined with the **def** key word. 
- The function name follows with parentheses making it a callable object. A varying number of different data type input arguments of **can** be contained within the parenthesis.
- Signature: function name + arguments
- The function body contains an idented block of (local scope) code
- The function **can** contain a **return** statement with a return value. The default return value is **None**.

In [ ]:
# This is a minimal function
def minimal_function():
    pass

# Does not do anything
minimal_function()

# Outputs a None value
return_value = minimal_function()
print(return_value)

In [ ]:
# We can declare a more interesting function which prints hello world
def say_hello_world():
    print("Hello world!")

# Now we invoke it in just one line
say_hello_world()

In [ ]:
# What will this output?
print(say_hello_world())

In [ ]:
# Now without the callable parentheses
print(say_hello_world)

In [ ]:
# Now let us check the memory storage without the callable brackets
print(id(say_hello_world),hex(id(say_hello_world)))

# Now let us check the memory storage with the callable brackets
print(id(say_hello_world()), id(None))

In [ ]:
# Now let us make a more interesting function
def say_hello(name):
    print("Hello " + name + "!")


say_hello("class")

### Functions from school

Function definition from math classes in (high) school:

```
y = f(x)
f(x) = 0.5x + 2  # f(1) = 0.5 (1) + 2 = 2.5
                  # f(1) = 2.5
```
![image.png]()



Let's take a close look of the pattern:


* Every function has an input (in this case x)
* they transform the input
* And might return a value (in this case y)

In [ ]:
# Let us test if the function repreduces the proper function values
def f(x):
  y = 0.5 * x + 2 # don't have to write same thing multiple times
  return y

f1 = f(1)
f2 = f(2)
print(f1,f2)

In [ ]:
# Let us check if f(x) and g(x)=x^2 intersect or not in [-5,+5]
def f(x):
    y = 0.5 * x + 2 # don't have to write same thing multiple times
    return y

def g(x):
    y = x**2
    return y

# We can create a list of points for the plot of the function using 
# what we have learned in the previous sessions

# Empty list for y values
Y_f  = []
Y_g = []

# List of x values via list comprehension, notable -5 is included and 6 is excluded
X = [ i for i in range(-5,5+1) ]

# We generate Y using X in a for loop over its x items
for x in X:
    Y_f.append(f(x))
    Y_g.append(g(x))
    
# Our set of data points (x/y)
print("x:",X)
print("f(x):",Y_f)
print("g(x):",Y_g)

In [ ]:
# We can use a plotting library such as matplotlib or seeborn with X and Y and visualize the data 
# Inline installation of matplotlib with pip package manager
!pip install matplotlib

In [ ]:
# Import installed library matplotlib, use pyplot as (alias) plt
import matplotlib.pyplot as plt

plt.plot(X,Y_f)
plt.plot(X,Y_g)
plt.show()
# The plot is very basic. Read the docs to improve the visuals.
# I just wanted to give you an impression about how quick you can start

In [ ]:
# Remember the non-intuitive result we get from adding lists?
a = [1,3,2]
b = [-2,0,1]
print(a+b)

In [ ]:
# What if we wanted to add the entries of the list together?

a = [1,2,3]
b = [-2,0,1]

def add_vectors(v,w):
    result = []
    n = min(len(a),len(b))
    for i in range(0,n):
        result.append(a[i]+b[i])
    return result

a_plus_b = add_vectors(a,b)
print(a_plus_b)

In [ ]:
# A function that checks if a number is even or not

def is_even(value):
    return value % 2

result = is_even(2)
print(result)

result = is_even(3)
print(result)

In [ ]:
# A function that returns a list with numbers from their two parameters
def get_list_of_numbers(start,end):
    current_value = start 
    results = []
    while current_value <= end:
        results.append(current_value)
        current_value += 1
    return results 

result = get_list_of_numbers(start=3,end=10)
result = get_list_of_numbers(3,10)
print(result)

In [ ]:
# We can assign a new function to an old one:
def GET_ABS(arg):
    return abs(arg)

get_abs = GET_ABS

x = -2
abs_x = get_abs(x)
print(abs_x)

# These will have different ids
print(id(GET_ABS),id(abs_x))

In [ ]:
# We can use functions as input arguments
# Let us use two toy interest rate models 
# simple interest rates and compound interest rates

def simple_interest(capital, rate, years):
    total_value = capital*rate*years 
    return total_value


def compound_interest(capital, rate, years):
    total_value = capital*(rate**years)
    return total_value


def get_capital(capital, rate, years, model):
    """
    capital in euros: int/float,
    rate in euros (3 % = 0.03): float
    years: float
        
    """
    return model(capital, rate, years)

# For readbility we can use the keys in the input
print(get_capital(capital=100, rate=0.05, years=3, model=simple_interest))
print(get_capital(capital=100, rate=0.05, years=3, model=compound_interest))

In [ ]:
# We can further create a list with function entries we can call

def g(x): 
    return 1
def h(x):
    return x*x
def k(x):
    return h(x)+g(x)

f_list=[g,h,k]
print(f_list[0](-2), f_list[1](-2), f_list[2](-2))

In [ ]:
# What if we do not always need to use all arguments? We can set them to default values.
# This is the problem

def say_hello_buggy(name):
    print("Hello " + name + "!")

say_hello_buggy("class") # customized value used
say_hello_buggy("ReDi NRW") # customized value used
say_hello_buggy() # default value used

In [ ]:
# Let us solve the positional argument type error by using a default value for name

def say_hello_less_buggy(name="world"):
    print("Hello " + name + "!")

say_hello_less_buggy("class") # customized value used
say_hello_less_buggy("ReDi NRW") # customized value used
say_hello_less_buggy() # default value used

In [ ]:
# In practise, useful functions can get a bit larger. 
# Sometimes it is useful to put these in external files and import them
# when needed
from helper_functions.analytics import get_max_val_index, get_average, get_standard_deviation

test_list = [1,3,-2,3,0,3]
max_val_indices = get_max_val_index(test_list)
average = get_average(test_list)
standard_deviation = get_standard_deviation(test_list)

print("indices of max value: " + str(max_val_indices))
print("average of values: " + str(average))
print("standard deviation of values: " + str(standard_deviation))

### Scope of variables in a function

Variables defined in the body of a function are **created** within the body and are **destroyed** once the function value has been returned. Using a variable outside of the function has an **outer scope** and can be **shadowed** by a variable value with an **inner scope** inside a function body.

In [ ]:
def just_for_demonstration_of_scoping(name="Dean"):
    name = "John"
    print(name)
    return name

just_for_demonstration_of_scoping()
print(name)

In [ ]:
def just_for_demonstration_of_scoping(my_name="Dean"):
    global name
    name = "John"
    print(name)
    return name

just_for_demonstration_of_scoping()
print(name)

In [ ]:
name = "Tim"    
    
def another_demonstration_of_scoping(your_name="Dean"):
    global name
    name = "John"
    print(name)
    return your_name

just_for_demonstration_of_scoping()
print(name) # John or Tim?

In [ ]:
# A working bad practise, what comes out and why?

def z(z):
    return z
print(z(z))

In [ ]:
# Good practice avoid mixing name for function, input arguments and return values

def get_z(input_z):
    z_return_value = input_z
    return z_return_value

get_z(input_z=3)

### Built-in Functions in Python

Built-in functions in python are very similar:

- They have ***reserved names*** (like variables)
> `print`  
> `input`

- They are executed by appending ***round parantheses***
> `print()`   
> `input()`

- They can have zero, one or more ***parameters***
> `print()         # Will print an empty line`   
> `print('Hello', 'World')  # Hello World`   
> `input('Hello')  # Will crash for more parameters`

- Some ***Magic** happens 
> `print()  # Prints stuff`   
> `input()  # Allows user input into a running Python program`

- They ***can*** have a non None ***return*** value
> `print('Hello', 'World', end='!\n')      # returns None`    
> `return_value = input()      # return value can be preserved by assingning it to a variable` 

- Perform ***one task*** and they perform it ***well and reliably***


- You can ***reuse*** and if you want to change the functionality you only have to change it in one place

In [ ]:
print('Hello', 'World', end='!\n')

In [ ]:
# Let us use different features of the print function
help(print)
print("Hello","world",sep='|\t', end='...\n\t')
print("Hello","world",sep='|\t', end='...\n\t')

In [ ]:
# abs
help(abs)
i = (-1)**0.5
print(i)
print(abs(i))
print(complex(0,1))

In [ ]:
# all
list_1 = [1,1,1,2]
print(all(list_1) is 1)

In [ ]:
# any
list_1 = [1,1,1,2]
print(any(list_1) is 1)

In [ ]:
# ascii
x = ascii("My name is St√•le")
print(x)
chr(8364)

In [ ]:
# chr
help(chr)
print(chr(97),chr(8364))

In [ ]:
# Conversion to different number systems
print(bin(0),"...",bin(1),bin(2),bin(3))
print(hex(0),"...",hex(9),hex(10),hex(11),hex(15),hex(16))
print(oct(0),"...",oct(7),oct(8),oct(9))

In [ ]:
help(hash)
hashed_value = hash("1")
print(hashed_value)

In [ ]:
def empty_function():
    pass

x = [1,2,3] 

print(callable(empty_function))
print(callable(empty_function()))
print(callable(callable))
print(callable(x))

In [ ]:
# map function
def f(x):
    return x**2

X = list(range(-3,4))
print(map(f,X))
Y = list(map(f,X))

print(X)
print(Y)

In [17]:
# filter
def my_filter(x):
    val = False
    if x>0:
        val = True
    return val

iterable_range = range(-3,3)
filtered_iterable = filter(my_filter, iterable_range)

print(filtered_iterable)
print(list(filtered_iterable))

<filter object at 0x000001BF7D72BFC8>
[1, 2]

In [16]:
# enumerate
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [19]:
# exec can be used to execute string to code
# 'name = input()'
# print("Hello "+name+"!")

my_code = 'name = input()\nprint("Hello "+name+"!")'
exec(my_code)

ReDi
Hello ReDi!

In [21]:
# You can also compile code
help(compile)
codeInString = 'name = input()\nprint("Hello "+name+"!")'
codeObejct = compile(codeInString, 'sumstring', 'exec')

exec(codeObejct)

Help on built-in function compile in module builtins:

compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)
    Compile source into a code object that can be executed by exec() or eval().

    The source code may represent a Python module, statement or expression.
    The filename will be used for run-time error messages.
    The mode must be 'exec' to compile a module, 'single' to compile a
    single (interactive) statement, or 'eval' to compile an expression.
    The flags argument, if present, controls which future statements influence
    the compilation of the code.
    The dont_inherit argument, if true, stops the compilation inheriting
    the effects of any future statements in effect in the code calling
    compile; if absent or false these statements do influence the compilation,
    in addition to any features explicitly specified.

Dean
Hello Dean!

###  Functions Syntax Recap
#### 1.) Start with `def`
Every function starts with `def` keyword ( shorthand for *define*)

#### 2.) Give your function a name   ---   `add_two_numbers`
Use the name to execute the function anywhere after it was created. Make it as descriptive as possible!

#### 3.) Inside round brackets, define a set of parameters --- `(a, b)`
We will look into this a bit more closely later

#### 4) Then end your line with a colon --- `:`
Note how this is consistent with how you have used colons followed by indented code before

#### 5) Indented code block -> the logic of the function
Here you can do everything that you learned so far and are about to learn!

#### 6) If you want to return a value, add a line that starts with `return`
As soon as a function returns something, it stops! Otherwise it will run untill the end of the indented block

#### 7) Use your function like any other function
You are done! :-)

### Exercise 1 - Create your very own first function!

In [ ]:
# 1.) It should be called multiply_two_numbers 
# 2.) It should take two numbers as parameters
# 3.) It should return the product of its two numbers

def multiply_two_numbers(a, b):
    pass

In [ ]:
x, y = 2,3

## 2. Exercises

### Exercise 1 - Is Divisable by Check


We want a function that checks for any given real number (`number_1`) if it devisable without any rest by another given real number  (`nubmer_2`):

You can use the modulo operation to see if there is some reminder in a division operation:
```
number_1 % number_2 == 0 
```

In [ ]:
# outside the function where you call it
# result = is_divisable(13,5)
# print(result)

### Exercise 2 - Circle Data

a) We want to calculate the circumference and area of a circle given its radius

Write a function `calculate_circle_data()` that takes one argument that is the value of a circle's radius and returns its area and circumference

You can use `pi = 3.1415` for pi

As a reminder: 

```
circumference = 2 x pi x radius
area = pi x radius x radius
```


b) Write a function `present_circle_data` that takes 3 arguments: `radius, circumference, area` and prints a nice statement to the console

*Example*
```
present_circle_data(10, 62.3, 314.15)

# A Circle with radius 10 has a circumference of 62.3 and an area of 314.15
```


c) Write a function that will take a list of radiuses, calculate the area and circumference for each and prints the results, using your functions from a) and  b)

In [ ]:
def calculate_circle_data(radius):
    pass

In [ ]:
def present_circle_data(radius, circumference, area):
  print(f"A Circle with radius {radius} has a circumference of {circumference} and an area of {area}")

In [ ]:
def calculate_circle_data_list(radius_list):
    for radius in radius_list:
        # circumference, area = calculate_circle_data(radius)
        # present_circle_data(radius, circumference, area)

In [ ]:
radius_list = list(range(1,20))

calculate_circle_data_list(radius_list)

### Exercise 3 - FizzBuzz

Write a function `fizz_buzz()`that takes a number as parameter
- if the number is divisible by 3, return `"fizz"`
- if the number is devisible by 5 return `"buzz"`
- if it is dvisble by 3 and 5, return `"fizzbuzz"`
- in all other cases return an empty string


*Example*:
```python
fizz_buzz(9) -> "fizz"
fizz_buzz(10) -> "buzz"
fizz_buzz(15) -> "fizzbuzz"
fizz_buzz(16) -> ""
```

In [ ]:
def fizz_buzz(number):
  pass

**Bonus**
Write a function `first_n_fizz_buzz()` that will accept a number as input and that will print the result of `fizz_buzz` for all numbers between one and the number

*Example:*

```python
first_n_fizz_buzz(4)
  -> 1: FizzBuzz is ""
     2: FizzBuzz is ""
     3: FizzBuzz is "fizz"
     4: FizzBuzz is ""
```

### Exercise 4 - Twitter

Twitter users can write tweets up to 280 characters long.
While a user is writing a tweet, twitter says how many characters are left.
When they exceed the 280, it starts counting in negative.

-> Write a function remaining_chars(tweet) that prints this number

Example:

remaining_chars("Good morning twitter")
**Output**: `260`

remaining_chars("")
**Output**: `280`

remaining_chars("""He has achieved success who has lived well, laughed often, and loved much;
Who has enjoyed the trust of pure women, the respect of intelligent men and the love of little children;
Who has filled his niche and accomplished his task;
Who has never lacked appreciation of Earth's beauty or failed to express it;""")
**Output**: `-28`

In [ ]:
# output = remaining_chars("He has achieved success who has lived well, laughed often, and loved much; Who has enjoyed the trust of pure women, the respect of intelligent men and the love of little children; Who has filled his niche and accomplished his task; Who has never lacked appreciation of Earth's beauty or failed to express it;")
# print("Output: ",output)

### Exercise 5 - One function to calculate them all
In the lesson we defined three functions for adding, substracting and multiplying numbers

Let's do the same with only one function!

Create a function calculate, that takes up to three arguments. The first two should be numbers and the last a string that is either +, -, *, or /. It should then return the result of the calculation

Examples
```python
calculate(4, 12, '+')   -> 16
calculate(4, 12, '-')   -> -8
calculate(4, 12, '*')   -> 48
calculate(4, 12, '/')   -> 0.333333
```
** Bonus **

Try to make the string parameter optional. That means that if you don't give a third parameter, the function will add by default. so
```python
calculate(4, 12)   -> 16
```
Find out how to do this by googling python optional parameter for functions or similar

In [ ]:
# calculate(4, 12, '+') == 16
# calculate(4, 12, '-') == -8
# calculate(4, 12, '*') == 48
# calculate(4, 12, '/') == 0.333333

Write a function that returns a minimum value in a list. 

[10,23,5,9,1,4]

Answer = 1

In [ ]:
list_num = [20,445,70,45,86,898,100]