# Lists

A list is an abstract data structure that represents a countable number of ordered values

## Properties of Lists
Lists have:

- **values**
- **indices**  - always start at 0
- **a length** - number of elements in a list

Lists are:

- **mutable** - an object whose state can be modified after it is created
- **dynamical** - do not have a fix length, can be modified (~ non-static array)

![alt text](https://developers.google.com/edu/python/images/list1.png)

In [2]:
my_list = [1,2,3]

In [3]:
type(my_list)

list

In [4]:
my_list[0]

1

In [5]:
my_list[1]

2

In [33]:
my_list[3]
my_list[2]

3

In [29]:
my_list.append(4)

In [31]:
len(my_list)
print(len(my_list))
print(my_list)

4
[1, 2, 3, 4]

In [32]:
# Half open interval [0,4)=[0,3] for integers
print(my_list[3])

print(my_list[0])

4
1

In [34]:
my_list[-1]

4

In [35]:
my_list[-2]

3

In [36]:
long_list = list(range(1,100))
print(long_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [37]:
long_list[29:70]

[30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70]

In [38]:
long_list[0:100:2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [41]:
# Counting in five steps to hundred
long_list[4:99:5]     # index: 0 1 2 3 | 4 ..... 98 | 99
# long_list[4:98:5]   # value: 1 2 3 4 | 5       99 |

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [49]:
zero_to_100 = list(range(0,101))
print(zero_to_100)
print()
print(0, zero_to_100[0])
print(1, zero_to_100[1])
print(5, zero_to_100[5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

0 0
1 1
5 5

In [50]:
# Adding each entry from 0 to 100
print(sum(zero_to_100))

5050

In [52]:
# Alternative over Gaussian sum
n = 100
S = n*(n+1)/2
S == sum(zero_to_100)

True

In [53]:
max_value = max(zero_to_100)
print(max_value)

100

In [54]:
min_value = min(zero_to_100)
print(min_value)

0

In [55]:
# Search for index containing value
grocery_list = ["apples","bananas","oranges","milk","butter","oil"]
grocery_list.index("milk")

3

In [56]:
# We can use the remove method to remove the entry with "milk" knowing its indexed position
grocery_list.remove("milk")
print(grocery_list)

['apples', 'bananas', 'oranges', 'butter', 'oil']

In [57]:
# We can add insert it back again to the list, using 2 as input parameter, it has switched its position with that of oranges
grocery_list.insert(2,"milk")
print(grocery_list)

['apples', 'bananas', 'milk', 'oranges', 'butter', 'oil']

In [58]:
grocery_list.index("milk")

2

In [59]:
# You can add an entry to the list using the plus operation
grocery_list = grocery_list + ["milk"] # same effect
grocery_list += ["grapes"]  # same effect
grocery_list.append("carrots") # same effect
print(grocery_list)

['apples', 'bananas', 'milk', 'oranges', 'butter', 'oil', 'milk', 'grapes', 'carrots']

In [60]:
# Now let's see what we get when we query for the index containing "milk"
grocery_list.index("milk")

2

In [61]:
grocery_list.index("milk",3)

6

In [62]:
# Where do we get information on the conventions used for the index function?
help(grocery_list.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [ ]:
# Mutable objects: Objects whose can be changed after it is created
# list, dict, set, byte array
# Immutable objects:
# int, float, complex, string, tuple, frozen set , bytes 
# check out https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747
new_list = [1,2,3]
new_list[2]=2
print(new_list)

In [63]:
my_list = [1,2,3,4]
my_list *= 2
print(my_list)

[1, 2, 3, 4, 1, 2, 3, 4]

In [1]:
# You can check the id of lists using the id function
old_list = [1,2,3,4]
id(old_list)

2634466087944

In [2]:
# What is the id of the new list after assignment to the old list
new_list = old_list
id(new_list) == id(old_list)

True

In [4]:
# Now lets start off by recreating both lists and then comparing
old_list = [1,2,3,4] #12451451
new_list = [1,2,3,4] #34664321
print(id(new_list) == id(old_list)) # link to variable and object (memory)
print(id(new_list), id(old_list))

False
2634465264008 2634465062728

In [69]:
# Let's try try the same concept with non-mutable data types such as with two integers

# Mutual variable assignment
x = 10
y = x
print(id(x) == id(y))

#  Same value assignment
x = 10
y = 10
print(id(x) == id(y))

True
True

In [70]:
# If we change y what do we get for both x and y?
x = 10
y = x
y += 1
print(x,y)

10 11

In [5]:
# What do we get for the case of mutable lists?
x = [10]
y = x # linking by value AND linking by id
y[0] += 1 # If we update y, x update automatically because their memory storage are linked
print(x,y)
print(id(x),id(y))

[11] [11]
2634466105480 2634466105480

In [6]:
# What happens if we assign y to a (shallow) copy of x?
x = [10]
y = x.copy() # linking by value NOT linking by id
y[0] += 1 # If we update y, x does not update because their memory storage are not linked
print(x,y)
print(id(x),id(y))

[10] [11]
2634465257416 2634465259208

**Exercises**:
  
- Create a list of string entries of your favorite animals  
- Print the object id of your list of favorite animals
- Print the length (number of elements) of your list of favourite animals
- Add the animals in *additional_animals* to your list with the + operator and assign the result to a new list called favorite animals copy
- Use the append method on the original list of favorite animals 
- Use print statements to compare both lists and their respective ids
- How often do *wombats* appear in your list of favourite animals?
- Use a method to determine the list indices of *wombats* and your favorite animals
- Print the second last element in your list
- Print every second animal in your list, skipping the first list entry
- Explore the other list methods: *pop*, *reverse*, *insert*, *remove*, *clear*
    - Approach: Print the list, execute the method, print the list again
    - Answer the following questions:
        - what does the method do?
        - does it require an input?
        - does it have an output?

In [74]:
# Let us compare the ids without and with copies
x = [1,2]
x = y
print(id(x)==id(y), ": same value, same object id")
a = [1,2]
b = a.copy()
print(id(a)==id(b), ": same value, different object id")

True : same value, same object id
False : same value, different object id

In [81]:
x=[]
type(x)
x = [1,"1"]
print(x[0],x[1])
print(type(x[0]),type(x[1]))

1 1
<class 'int'> <class 'str'>