In [1]:
# Data types
string = "Onyi"

In [2]:
#(): parentheses
#[]: brackets
#{}: curly braces

# Why parentheses?
print(string)

Onyi

In [3]:
print(type(string))

<class 'str'>

In [4]:
# String is an array characters

print(string[1])

n

In [5]:
print(string[-1])

i

In [6]:
another_string = "Kelly"

In [10]:
print(string+another_string)

# Precendence
print(string+another_string == "OnyiKelly")

OnyiKelly
True

In [12]:
# Precendence
print(string+(another_string == "OnyiKelly"))

TypeError: can only concatenate str (not "bool") to str

In [13]:
print(another_string+1)

TypeError: can only concatenate str (not "int") to str

In [15]:
print(another_string+str(100+1))

Kelly101

In [17]:
print(string+str(string+another_string == "OnyiKelly"))

OnyiTrue

In [22]:
# Boolean: True, False

print(not not True)

True

In [23]:
# Boolean unary operation: not
# Boolean binary operations: and, or, ==, ^

print(True == True)
print(False == False)
print(True == False)

True
True
False

In [26]:
print(True is True)
print(False is False)
print(True is False)

True
True
False

In [28]:
# Tautology: It is either raining or not raining. Always a right statement.
raining = True
print( raining or not raining )

True

In [29]:
# Contradiction: It cannot be raining and not raining at the same time. Cannot be fulfilled at the same time
raining = True
print( raining and not raining )

False

In [32]:
# XOR (mutually exclusive or): means to choose either the one or the other
print( True ^  True )
print( True ^ False )
print( False ^ True )
print( False ^ False )

False
True
True
False

In [1]:
# Or: any True satisfies, then always True
print( True or True )
print( True or False )
print( False or True )
print( False or False )
# any True satisfies, then always True, exaggerated case with one True and many Falses
print( False or False or True or False or False or False )

True
True
True
False
True

In [38]:
print(type(1))
print(type(1.))
print(type(1.+0j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
import math
print(math.sqrt(4))
print((-1.0)**0.5) # same as sqrt(-1.0)

2.0
(6.123233995736766e-17+1j)

In [44]:
# Modulo
print(5 % 2) 
print("Remainder of 5/2 "+ str(5 % 2))

1
Remainder of 5/2 1

In [50]:
# Clock as example for modulo
print( 15 % 12)
print( 2 % 12)
print( 3 % 12)
print(11 % 12)
print( 12 % 12)
print( 23 % 12)

3
2
3
11
0
11

In [51]:
# How many times the number fits in the modulo value?
# What is the left over remainder
print( 7 % 4)

3

In [55]:
print(7 % -4)
print((7-4) + (-4))

-1
-1

In [57]:
print(9 % 4)
# 9 divided by 4, but with remainder
print( str(9 // 4)+"r"+str(9 % 4) )

1
2r1

In [60]:
print(30 % 6) # 6 x 5
print(31 % 6)
print(32 % 6)
print(33 % 6)
print(34 % 6)
print(35 % 6)
print(36 % 6) # 6 x 6

0
1
2
3
4
5
0

In [61]:
print(6  % 30) 
print(7  % 30)
print(8  % 30) 
print(9  % 30)
print(10 % 30) 
print(11 % 30)

6
7
8
9
10
11

In [62]:
# odds and evens

def check_number_type(number):
    if number % 2 == 0:
        return "even"
    elif number % 2 == 1:
        return "odd"

print(check_number_type(2))
print(check_number_type(4))
print(check_number_type(7))

even
even
odd

In [69]:
# Application calculations with angles
def give_angle(number):
    return number % 360

print(give_angle(30))
print(give_angle(360))
print(give_angle(720))   
print(360*2)
print(give_angle(900))
print(360*3)
print(give_angle(1080))

30
0
0
720
180
1080
0

In [74]:
# List, Tuple, Sets, Dictionary / check libaries containers, iterables, queues
list_example = ["names",1,1.0]
print(list_example[0] )
print(str(type(list_example[1])) , str(list_example[1]) )
print(str(type(list_example[2])) , str(list_example[2]) )

names
<class 'int'> 1
<class 'float'> 1.0

In [82]:
tuple_example = tuple([1,2,3])
print(tuple_example)
tuple_example = tuple([1,2,4])

(1, 2, 3)

In [94]:
list_example = [1,2,3]
#list_example[2] = 4
tuple_example = tuple([1,2,3,4,5])
print(tuple_example)
tuple_another_example = tuple([*tuple_example[0:-1],4])
tuple_example = tuple_another_example
print(tuple_example)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 4)

In [96]:
third_tuple_example = (1,2,4)
type(third_tuple_example)

tuple

In [3]:
# lists mutable: you can reassign values to data structure
list_example = [1,2,3]
# tuples immutable: you cannot reassign values to data structure
tuple_example = (1,2,3)
# This value reassignment is going to work
list_example[2] = 100
# This value reassignment is going to fail
tuple_example[2] = 100

TypeError: 'tuple' object does not support item assignment

In [102]:
set_example = set([1,2,3])
print(set_example)
another_set = {1,2,3}
print(another_set)

{1, 2, 3}
{1, 2, 3}

In [104]:
list_example  = [1,2,3]
tuple_example = (1,2,3)
set_example   = {1,2,3} # No key value pairs
dict_example  = {"one":1,"two":2,"three":3} # Key value pairs

print(type(list_example))
print(type(tuple_example))
print(type(set_example))
print(type(dict_example))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [105]:
# Sets give you unique values
set_example = {1,2,2,2,3}
print(set_example)

{1, 2, 3}

In [106]:
# Sets are unordered data structures
set_example         = {1,2,3,4}
set_another_example = {1,3,2,4}
print(set_example)
print(set_another_example)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [107]:
set_example         = {'"1"','"2"','"3"','"4"'}
set_another_example = {'"1"','"3"','"2"','"4"'}
print(set_example)
print(set_another_example)

{'"2"', '"1"', '"4"', '"3"'}
{'"3"', '"1"', '"4"', '"2"'}

In [111]:
# Set (math.): a collection of mathematical objects
my_pokemons   = {"pikachu", "charizard", "mewto", "caterpilar"}
your_pokemons = {"pikachu", "bulbasaur", "gyrados", "caterpilar", "butterfly"}

# Union of a set: it gives you all elements of both sets combined together
print(my_pokemons.union(your_pokemons))

# Intersection of a set: it gives you the common elements of both sets
print(my_pokemons.intersection(your_pokemons))

{'bulbasaur', 'gyrados', 'charizard', 'pikachu', 'caterpilar', 'mewto', 'butterfly'}
{'pikachu', 'caterpilar'}