# Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. Since sets are unordered, we cannot access items using indexes like we do in lists.

In [ ]:
#initializing a set

In [17]:
myset=set(['a','b','c'])

In [18]:
myset_new={1,2,3,'a','b'}

In [19]:
myset[2]

TypeError: 'set' object does not support indexing

## Deleting elements from a Set

In [ ]:
#Multile ways to delete items from a set i.e. discard,remove,pop,clear

In [20]:
myset.remove('a')

In [21]:
myset

{'b', 'c'}

In [22]:
myset.pop()

'b'

In [23]:
myset

{'c'}

In [24]:
myset.clear()

In [25]:
myset

set()

## Updating a Set

Set are mutable so we can remove elements and also add or update new elements to the set.
We have two functions to update the values in the set. These are 'add()' and 'update()' methods.

In [26]:
myset.add('x')

In [27]:
myset

{'x'}

In [28]:
myset.update('y','z')

In [29]:
myset

{'x', 'y', 'z'}

## Frozen Set

Frozen sets are similar to sets but the only difference is that frozen sets are immutable.
The frozenset() inbuilt function is used to create a frozen set.

In [30]:
frozen_set=frozenset([5,7,8])

In [31]:
frozen_set

frozenset({5, 7, 8})

In [32]:
frozen_set.update(2,3)

AttributeError: 'frozenset' object has no attribute 'update'

## Set Operations

We can perform various operations on set using functions len(), max(), min(), sorted().

In [33]:
len(myset)

3

In [34]:
max(myset)

'z'

In [35]:
min(myset)

'x'

Functions like max() and min() require the set to contain the same data type elements to work with because we canâ€™t compare integers and strings directly.

The 'sorted()' function takes an iterable like sets and sorts the elements in ascending order.

Union Operation:
The union operation between A and B will return all the distinctive elements in A and B.

In [36]:
A={1,2,3,4,5}

In [37]:
B={3,4,5,6,7,4,5}

In [38]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

Intersection:
The intersection operation returns the set of elements that are common in the sets that are used in intersection.

In [39]:
A.intersection(B)

{3, 4, 5}

Difference():
The difference() function on sets performs the set difference operation on two or more sets.

In [40]:
A.difference(B)

{1, 2}

Symmetric_difference():
The function returns the unique elements in each set.

In [41]:
A.symmetric_difference(B)

{1, 2, 6, 7}

isdisjoint():
The 'isdisjoint()' function takes only one argument and checks whether the two sets are completely different or not.

In [42]:
A.isdisjoint(B)

False

In [43]:
({2,3,4}.isdisjoint({5,6,7}))

True

issubset():
The issubset() function returns True if the set is a proper subset of the set given in argument.

In [44]:
A.issubset(B)

False

# Tuples

Similar to Python lists, tuples are another standard data type that allows you to store values in a sequence. They might be useful in situations where you might want to share the data with someone but not allow them to manipulate the data.

Unlike Python lists, tuples does not have methods such as append(), remove(), extend(), insert() and pop() due to its immutable nature. However, there are many other built-in methods to work with tuples:

Not only do they provide "read-only" access to the data values but they are also faster than lists.

## Common Tuple Operations

### Slicing

Slicing is the same concept as in Lists

In [45]:
mytuple=(5,10,12,14,17,10)

In [56]:
mytuple[:]

(5, 10, 12, 14, 17, 10)

In [57]:
mytuple[3:]

(14, 17, 10)

In [58]:
mytuple[2:4] #point need to be remembered

(12, 14)

In [59]:
mytuple[:3] # the element at position 3 is not included

(5, 10, 12)

In [61]:
mytuple[-2]

17

In [46]:
type(mytuple)

tuple

In [47]:
mytuple.index(12)

2

In [48]:
mytuple.count(10)

2

### Tuple Addition

Tuples can be added/concatenated together

In [49]:
T1=(10,15,20)

In [50]:
T2=(5,10,25)

In [51]:
T3=T1+T2

In [52]:
T3

(10, 15, 20, 5, 10, 25)

In [53]:
sorted(T3) # Tuples can be sorted in order

[5, 10, 10, 15, 20, 25]

### Tuple Multiplication

Tuples can be multiplied with an integer

In [54]:
T1*2

(10, 15, 20, 10, 15, 20)

In [55]:
T1*4

(10, 15, 20, 10, 15, 20, 10, 15, 20, 10, 15, 20)

### Tuple Functions

count() and len():
count() returns the occurance of an element in a Tuple
len() returns the length of the tuple (same as Set)

tuple():
Use tuple() to converts a data type to tuple. For example, in the code chunk below, you convert a Python list to a tuple.

In [5]:
mylist=[2,4,6]

In [6]:
type(mylist)

list

In [7]:
mytuple_new=tuple(mylist)

In [9]:
type(mytuple_new)

tuple

min() and max():
While max() returns the largest element in the tuple, you can use min() to return the smallest element of the tuple.

In [13]:
min(mytuple_new)

2

In [12]:
max(mytuple_new)

6

sum():
With this function, you return the total sum of the items in a tuple. This can only be used with numerical values.

In [14]:
sum(mytuple_new)

12

sorted():
To return a tuple with the elements in an sorted order

In [15]:
T5=(5,2,3,7,1)

In [16]:
sorted(T5)

[1, 2, 3, 5, 7]

So, if you're defining a constant set of values and all you're going to do with it is iterate through it, use a tuple instead of a list. It will be faster than working with lists and also safer, as the tuples contain "write-protect" data.

# Assignment:

Find Union and Intersection of the following two sets:

In [ ]:
y={10,13,20,33,21}; z={7,13,17,21,44}

Use slicing to print third and fourth element from the following tuple:

In [ ]:
Tuple_w=('red','green','yellow','6','36','46','6')

check how many times the element 6 occurs in Tuple_w