# Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

The Python datatype for integers is called `set`.

In [ ]:
myset = set(['a', 'b', 'c'])  # note: we use set() to do type conversion from a list to a set!
print(myset)

In [ ]:
myset_new = {1, 2, 3, 'a', 'b'} # Note that this approach does not work for empty sets: a = {} will create an empty DICTIONARY, not an empty set!
print(myset_new)

Since all elements in a set are unique, adding an element twice has no effect.

In [ ]:
myset = {'a', 'b', 'c', 'c'}
print(myset)

Likewise, when calling `set()` to do type conversion from a list, all duplicates are removed.

In [ ]:
mylist = ['a', 'a', 'b', 'c']
print(mylist, set(mylist))

Sets are unordered. There is no notion of "first element" in a set. Thus integer indexing (as applicable for lists) is not possible!

In [ ]:
myset[2]

## Elements in a Set
### Adding individual Elements to a Set

In [ ]:
myset = set()

In [ ]:
myset.add('a')
print(myset)

If you want to add multiple elements, you can use:

In [ ]:
myset.update('b', 'c')
print(myset)

### Removing individual Elements from a Set
There are multiple ways to remove an element from a set:
* `remove`: Removes element from set. Complains ("raises an error"), if element does not exist.
* `discard`: Removes element from set. Does nothing, if element does not exist.
* `pop`: Removes "random" element from set and returns it. Complains ("raises an error"), if set is empty.
* `clear`: Removes all elements from a set (empties the set).

In [ ]:
myset = {1, 2, 3, 4}

In [ ]:
myset.remove(4)
print(myset)

In [ ]:
myset.remove(5)

In [ ]:
myset.discard(5)
print(myset)

In [ ]:
myset.discard(3)
print(myset)

In [ ]:
# Pop removes and returns a value at the same time
extracted_element = myset.pop()
print(f'After extracting {extracted_element}, myset still has the following values: {myset}')

In [ ]:
myset.clear()  # delete all elements
print(myset)

### Checking if an Element is in a Set
You can use the keywords `in` and `not in` to understand if a given element is (not) in a set.

In [ ]:
myset = {1, 2, 3, 4, 5}

In [ ]:
print(1 in myset)

In [ ]:
print(6 in myset)

In [ ]:
print(1 not in myset)

In [ ]:
print(6 not in myset)

## Operations on Sets
So far, we have seen how to work with individual elements and sets. But we can also apply operations to two sets.

Among others, the following operators are defined when working with sets. Let `A` and `B` be sets.

| Operator | Operation | Example | Alternative Syntax | Example in Math Notation |
| ----- | ----- | ------ | -------- |  ----- |
| `&`  | [Intersection](https://en.wikipedia.org/wiki/Intersection_(set_theory)) (all elements that are in both sets) | `A & B` | `A.intersection(B)` | $A \cap B$ |
| `\|`  | [Union](https://en.wikipedia.org/wiki/Union_(set_theory)) (all elements that are in at least one set) | `A \| B` | `A.union(B)` | $A \cup B$ |
| `-`  | [Set Difference](https://en.wikipedia.org/wiki/Complement_(set_theory)#Relative_complement) (all elements that are in the first set but not in the second) | `A - B` | `A.difference(B)` | $A \setminus B$ |
| `^`  | [Symmetric difference](https://en.wikipedia.org/wiki/Symmetric_difference) (all elements that appear in one of the sets, but not both) | `A ^ B` | `A.symmetric_difference(B)` | $A \ominus B$, or $A\triangle B$ |

It might help you to think about these operations visually through Venn Diagrams (source: [https://school.geekwall.in](https://school.geekwall.in/p/Hyjaygqb7/python-sets-and-set-theory)):

![Venn Diagram of Set Operations in Python](https://cdn-images-1.medium.com/max/1600/0*a02OPI3-TnbKXyub.png)

### Comparison Operators on Sets
As with the comparison operators defined for e.g. numeric values (`<`, `<=`, `>`, `>=`, `==`), applying a comparison operator on two sets returns a `bool` value!

| Operator | Check | Example | Alternative Syntax | Example in Math Notation |
| ----- | ----- | ------ | -------- |  ----- |
| `==`  | Set equality (Both sets contain the same values) | `A == B` |  | $A = B$ |
| `<`  | Proper subset (Second set contains all elements of first set and more) | `A < B` |  | $A \subset B$ |
| `<=`  | Subset (Second set contains at least all elements of first set) | `A <= B` | `A.issubset(B)` | $A \subseteq B$ |
| `>`  | Proper superset (First set contains all elements of second set and more) | `A > B` |  | $A \supset B$ |
| `>=`  | Superset (First set contains at least all elements of second set) | `A >= B` | `A.issuperset(B)` | $A \supseteq B$ |
|   | [Sets disjoint](https://en.wikipedia.org/wiki/Disjoint_sets) (no element appears in both sets) |  | `A.isdisjoint(B)` |  $\iff A \cap B = \varnothing$ |

## Other Functions on Sets

We can perform various operations on sets that we already discovered when discussing lists and dictionaries, such as `len()`, `max()`, `min()`, `sorted()`.

In [ ]:
len(myset)

In [ ]:
max(myset)

In [ ]:
min(myset)

Functions like `max()` and `min()` require the set to contain the same data type elements to work with because we canâ€™t compare integers and strings directly.

The `sorted()` function takes an iterable like sets and sorts the elements in ascending order. Note that the return value is a *list* because a set does not have any notion of order, so it cannot be sorted!

## Excercise
You took part in one of these call-in events at your local radio stations, and you won! You and your best friend can go on a 2 week safari! The only catch: You have to leave immediatly and you cannot align before packing your bags.

As you arrive in the hotel, here is what you and your friend brought along:

In [ ]:
my_bag = {'binoculars', 'sunscreen', 'pen', 'map', 'first aid kit', 'bottle'}
friends_bag = {'sunscreen', 'bottle', 'flash light', 'pen', 'blanket'}

Please answer the following questions using Python!

**1.) How many items and in your bag?**

**2.) Which items did you bring twice?**

**3.) How many different items did you bring together?**

**4.) Did your friend bring a `'pen'`?**

**5.) Did anybody bring `'matches'`?**

**6.) How many items did you bring beyond what your friend brought?**

**7.) Did both of your bring at least `'sunscreen'` and a `'bottle'`?**

**8.) What is the share of items in the bag of your friend that you also brought with you?**

## Typehints

As for primitive datatypes, you can specify that a variable should be a set by annotating it with the type `set`.

In [ ]:
my_set: set = {1, 2, 3}

You can also go one step further and specify the type of content you expect the elements to have. As of [Python 3.9](https://www.python.org/dev/peps/pep-0585/), this is possible right out of the box like so:

In [ ]:
my_set: set[int] = {1, 2, 3}

# Tuples

Similar to Python lists, tuples are another standard data type that allows you to store values in a sequence. They might be useful in situations where you might want to share the data with someone but not allow them to manipulate the data.

Not only do they provide "read-only" access to the data values but they are also faster than lists. So, if you're defining a constant set of values and all you're going to do with it is iterate through it, use a tuple instead of a list. It will be faster than working with lists and also safer, as the tuples contain "write-protect" data.

Unlike Python lists, tuples does not have methods such as `append()`, `remove()`, `extend()`, `insert()` and `pop()` due to their immutable nature. However, there are many other built-in methods to work with tuples:

## Common Tuple Operations

### Creating a Tuple

Use `tuple()` to converts a data type to tuple. For example, in the code chunk below, you convert a Python list to a tuple.

In [ ]:
mylist=[2,4,6]

In [ ]:
type(mylist)

In [ ]:
mytuple_new=tuple(mylist)

In [ ]:
type(mytuple_new)

Slicing is the same concept as in Lists

Slicing is the same concept as in Lists

In [ ]:
mytuple=(5,10,12,14,17,10)

In [ ]:
mytuple[:]

In [ ]:
mytuple[3:]

In [ ]:
mytuple[2:4] #point need to be remembered

In [ ]:
mytuple[:3] # the element at position 3 is not included

In [ ]:
mytuple[-2]

In [ ]:
type(mytuple)

In [ ]:
mytuple.index(12)

In [ ]:
mytuple.count(10)

### Tuple Addition

Tuples can be added/concatenated together

In [ ]:
T1 = (10, 15, 20)

In [ ]:
T2 = (5, 10, 25)

In [ ]:
T3 = T1 + T2
print(T3)

### Tuple Multiplication

Tuples can be multiplied with an integer. Just as with strings or lists, this will cause the elements of the tuple to be repeated multiple times in the resulting tuple.

In [ ]:
T1 * 2

In [ ]:
T1 * 4

### Tuple Functions

#### `count()` and `len()`:
* count() returns the occurance of an element in a Tuple
* len() returns the length of the tuple (same as Set, Dict, List, or String)

In [ ]:
my_tuple = (1, 1, 3, 4, 5)
print(f'the tuple has {len(my_tuple)} elements. The value 1 occurs {my_tuple.count(1)} times.')

#### `min()` and `max()`:
(Again as with lists), `max()` returns the largest element in the tuple. Use `min()` to return the smallest element of the tuple.

In [ ]:
min(mytuple_new)

In [ ]:
max(mytuple_new)

#### `sum()`:
(Again as with lists), `sum()` returns the sum of the items in a tuple. This can only be used with numerical values.

In [ ]:
sum(mytuple_new)

#### `sorted()`:
To return a tuple with the elements in an sorted order.

**Note**: The return value is a `list`!

In [ ]:
T5 = (5, 2, 3, 7, 1)

In [ ]:
sorted(T5)

## Excercise

You are given the following tuple.

In [ ]:
mytuple = ('red', 'green', 'yellow', '6', '36', '46', '6')

**1.) Use slicing to print third and fourth element from the following tuple**

**2.) Check how many times the element `'6'` occurs in the tuple**