# Functions


You already used a few functions:
-  `print()`
- `input()`
- `range()`
- `type()`
- `list(), str(), int(), float(), bool()`
- ...

Today we will learn:
* **What** is a function
* **How** can we write our own functions
* **Why** are functions useful

## 1. What is a function

A function is a useful device that groups together a set of statements so they can be executed multiple times. We specify some parameters to be inputs to the function. A function helps us to avoid writing the same code again and again.


### 1.1 Functions from school
Function definition from math classes in (High) School:

```
y = f(x)
f(x) = 0.5x + 2  # f(1) = 0.5 (1) + 2 = 2.5
                  # f(1) = 2.5
```
![image.png]()



Let's take a close look of the pattern:


* Every function has an input (in this case x)
* they transform the input
* And might return a value (in this case y)

In [1]:
def linearity(x):
    """
    This function returns y as 0.5*x + 2. It is a basic function
    """
    output = 0.5 * x + 2 # dont have to write same thing multiple times
    return output

f1 = linearity(1)
f2 = linearity(2)
print(f1,f2)

2.5 3.0

In [2]:
for x in range (1, 5):
    n = linearity(x)
    print(n)

2.5
3.0
3.5
4.0

### 1.2 Functions in Python

Functions in python are very similar:

- they have a ***specific name*** (like variables)
> `print`  
> `input`

- they are executed by appending ***round parantheses***
> `print()`   
> `input()`

- they can have zero, one or more ***parameters***
> `print()         # Will print an empty line`   
> `print('Hello', 'World')  # Hello World`   
> `input('Hello')  # Will crash for more parameters`=

- Some ***Magic** happens 
> `print()  # Prints stuff`   
> `input()  # Allows user input into a running Python program`

- they ***can*** (no must) ***return*** a value
> `print('Hello', 'World', end='!\n')      # does not return anything`    
> `return_value = input()      # return value can be preserved by assingning it to a variable` 

- perform ***one task*** and they perform it ***well and reliably***


- you can ***reuse*** and if you want to change the functionality you only have to change it in one place

#### 1.2.1 Creating a simple function

In [3]:
def my_function(x):
    result = x + 4
    return result

In [4]:
y = my_function(1)
print(y)

5

In [5]:
y = my_function(200)
print(y)

204

In [6]:
y = my_function(1000)
print(y)

1004


### **Example - Functions, List and Loops**

(1) Write a function to test whether all numbers of a list are greater than
10 return ----> True.

test_list_1 = [12, 9, 6, 10, 2, 1, 5, 90]

Test whether your function works by feeding in the test_lists.

In [7]:
def test_a_list(input_list):
    """
    Function to test whether all numbers of the list are greater than 10. If so, return True
    """
    for item in input_list:
        if item <= 10:
            return False
    else:
        return True

In [8]:
test_list_1 = [12, 9, 6, 10, 2, 1, 5, 90]
print(test_a_list(test_list_1))

False

In [9]:
test_list_2 = [12, 19, 16, 190, 12, 11, 15, 90]
print(test_a_list(test_list_2))

True

#### 1.2.2 More functions

* A function that adds two number
* A function that substracts two numbers
* A function that checks if a number is even or not
* A function that returns a list with numbers from their two parameters

In [10]:
def add_two_numbers(a, b):
    """
    A function that adds two number
    """
    return a + b

print(type(add_two_numbers))
value = add_two_numbers(6, 12)
print(value)  # Expect this to be 18

<class 'function'>
18

In [11]:
def substract_two_numbers(a,b):
    """
    A function that substracts two numbers
    """
    return a - b

number = substract_two_numbers(100, 77)
print(number)

23

In [12]:
def is_even(value):
    """
    A function that checks if a number is even or not
    """
    return value % 2 == 0

result = is_even(2)
print(result)

result = is_even(3)
print(result)

True
False

In [13]:
my_list = [1,2,3,4,5,6,7,8]
my_list.append(9) 
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
def get_list_of_numbers(start, end):
    """
    A function that returns a list with numbers in the list specified by these two input numbers
    """
    current_value = start 
    results = []
    while current_value <= end:
        results.append(current_value)
        current_value += 1   
    return results 

my_list = get_list_of_numbers(start=3, end=10)
print(my_list)

[3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
result = get_list_of_numbers(3, 10)
print(result)

[3, 4, 5, 6, 7, 8, 9, 10]

### 1.3 Functions Syntax Recap
#### 1.) Start with `def`
Every function starts with `def` keyword ( shorthand for *define*)

#### 2.) Give your function a name   ---   `add_two_numbers`
Use the name to execute the function anywhere after it was created. Make it as descriptive as possible!

#### 3.) Inside round brackets, define a set of parameters --- `(a, b)`
We will look into this a bit more closely later

#### 4) Then end your line with a colon --- `:`
Note how this is consistent with how you have used colons followed by indented code before

#### 5) Indented code block -> the logic of the function
Here you can do everything that you learned so far and are about to learn!

#### 6) If you want to return a value, add a line that starts with `return`
As soon as a function returns something, it stops! Otherwise it will run untill the end of the indented block

### Exercise 1 - Create your very own first function!

In [16]:
# 1.) It should be called multiply_two_numbers 
# 2.) It should take two numbers as parameters
# 3.) It should return the product of its two numbers

def multiply_two_numbers(a, b):
    """
    Return the product of two numbers
    """
    return a * b

a = 7
b = 4
result = multiply_two_numbers(a,b)
print(result)

28

###  1.4 Returning values 
Some more words on Returning Values

Consider the follwing lines of code

In [17]:
def diff_two_numbers(number1, number2):
    diff = number1 - number2
    return diff

In [18]:
number_diff = diff_two_numbers(10, 20)
number_diff

-10

##### Takeaway

The above code will produce a mistake!     
`number_diff` is only produced ***inside*** the function not outside the function.    

- **The only way to get a value out of a function is by using `return`. Every value that is not returned will stay inside the function.** 


-------

In [19]:
# You can return Nothing
def add_two_numbers(number1, number2):
    number_sum = number1 + number2
    print("number_sum inside function:", number_sum)
    return
  
number = add_two_numbers(1000, 2000)

number_sum inside function: 3000

In [20]:
# You can also return multiple values with a Tuple
def add_and_multiply_two_numbers(number1, number2):
    """
    This function returns the sum and the product of two numbers
    """
    number_sum = number1 + number2
    number_product = number1 * number2
    return number_sum, number_product

numbers = add_and_multiply_two_numbers(100, 200)
print(numbers)

(300, 20000)

## 2. More examples

### Example 1 - Is Devsable by Check


We want a function that checks for any given real number (`number_1`) if it devisible without any rest by another given real number  (`nubmer_2`):

You can use the modulo operation to see if there is some reminder in a division operation:
```
number_1 % number_2 == 0 
```

In [21]:
def is_devisable(number_1, number_2):
    print('test if', number_1, 'is divisible by', number_2, ':') #this way of printing is very inefficient, we should use format
    return number_1 % number_2 == 0

# outside the function where you call it
result = is_devisable(15,5)
print(result)

test if 15 is divisible by 5 :
True

### Example 2 - Circle Data

a) We want to calculate the circumference and area of a circle given its radius

Write a function `calculate_circle_data()` that takes one argument that is the value of a circle's radius and returns its area and circumference

You can use `pi = 3.1415` for pi

As a reminder: 

```
circumference = 2 x pi x radius
area = pi x radius^2
```


b) Write a function `present_circle_data` that takes 3 arguments: `radius, circumference, area` and prints a nice statement to the console

*Example*
```
present_circle_data(10, 62.3, 314.15)

# A Circle with radius 10 has a circumference of 62.3 and an area of 314.15
```


c) Write a function that will take a list of radiuses, calculate the area and circumference for each and prints the results, using your functions from a) and  b)

In [22]:
pi = 3.14159
def calculate_circle_data(radius):
    circumference = 2 * pi * radius
    area = pi * radius**2
    return circumference, area 
result = calculate_circle_data(10)
print(result)

(62.8318, 314.159)

In [23]:
def present_circle_data(radius, circumference, area):
    print(f"A Circle with radius {radius} has a circumference of {circumference} and an area of {area}")

In [24]:
def calculate_circle_data_list(radius_list):
    for radius in radius_list:
        circumference, area = calculate_circle_data(radius)
        present_circle_data(radius, circumference, area)

In [25]:
radius_list = list(range(1,5))

calculate_circle_data_list(radius_list)

A Circle with radius 1 has a circumference of 6.28318 and an area of 3.14159
A Circle with radius 2 has a circumference of 12.56636 and an area of 12.56636
A Circle with radius 3 has a circumference of 18.849539999999998 and an area of 28.27431
A Circle with radius 4 has a circumference of 25.13272 and an area of 50.26544

### Example 3

Write a function that returns a minimum value in a list. 

Input = [10, 23, 5, 9, 1, 4]

Output = 1

In [26]:
def minimum_value(list_of_num):
    current_minimum = list_of_num[-3]
    for number in list_of_num:
        if number < current_minimum:
            current_minimum = number
    return current_minimum

list_num = [20,445,70,45,86,898,100]
minimum_value(list_num)

20

### Example 4 - Twitter

Twitter users can write tweets up to 280 characters long.
While a user is writing a tweet, twitter says how many characters are left.
When they exceed the 280, it starts counting in negative.

-> Write a function remaining_chars(tweet) that prints this number

Example:

remaining_chars("Good morning twitter")
**Output**: `260`

remaining_chars("")
**Output**: `280`

remaining_chars("""He has achieved success who has lived well, laughed often, and loved much;
Who has enjoyed the trust of pure women, the respect of intelligent men and the love of little children;
Who has filled his niche and accomplished his task;
Who has never lacked appreciation of Earth's beauty or failed to express it;""")
**Output**: `-28`

In [27]:
def remaining_chars(twitter_message):
    maximum_chars = 280
    length = len(twitter_message)
    remaining_char = maximum_chars - length
    return remaining_char

output = remaining_chars("He has achieved success who has lived well, laughed often, and loved much; Who has enjoyed the trust of pure women, the respect of intelligent men and the love of little children; Who has filled his niche and accomplished his task; Who has never lacked appreciation of Earth's beauty or failed to express it;")
print("Output: ", output)

Output:  -28

In [1]:
def func(num):
    return not bool(num % 2)